{% load static %}
<html>
  <head>
    <title>Russ Family Budget</title>
    <link rel="stylesheet" href="{% static 'budget/style.css' %}?{% now "U" %}">
    <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
    <script src="{% url 'api-docs:schema-js' %}"></script>
    <script src="{% static 'budget/js/budget.js' %}"></script>
  </head>
  <body>
    <div class="pageHeader">
      <h1>Russ Family Budget</h1>
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
