{% extends 'budget/base.html' %}

{% block content %}
  <h2 class="budgetHeader">{{ budget_period.name }}</h2>
 <table class="budgetTable">
    <thead>
      <tr>
        <th colspan="2">Monthly</th>
      </tr>
      <tr>
        <th>Category</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for period_expense in budget_period_expenses %}
        {% if not period_expense.period_expense_allotment.is_long_term %}
        <tr>
            <td>{{ period_expense.period_expense_allotment.name }}</td>
            <td>{{ period_expense.amount }}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <table class="budgetTable">
    <thead>
      <tr>
        <th colspan="2">Long Term</th>
      </tr>
      <tr>
        <th>Category</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for period_expense in budget_period_expenses %}
        {% if period_expense.period_expense_allotment.is_long_term %}
        <tr>
            <td>{{ period_expense.period_expense_allotment.name }}</td>
            <td>{{ period_expense.amount }}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  {% if categories %}
    <table class="budgetTable">
      <thead>
        <tr>
          {% for category in categories %}
          <th>{{ category.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for category in categories %}
            <td>poop</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  {% else %}
    <p>No categories are available.</p>
  {% endif %}
{% endblock %}
